/* 
    Temp color:#e6cea0
    TODO MD css
    TODO Improve css
*/

:root {
    color-scheme: light dark;
    --light-bg: snow;
    --light-color: black;
    --dark-bg: black;
    --dark-color: snow;
    --dark-accent: #db4646;
    --light-accent: #ae0000;
}
.light {
    color-scheme: light;
}
.dark {
    color-scheme: dark;
}

body {
    max-width: 50%;
    background-color: light-dark(var(--light-bg),var(--dark-bg));
    margin: auto;
    color: light-dark(var(--light-color),var(--dark-color));
}
a {
    text-decoration: none;
    color: light-dark(var(--light-color),var(--dark-color));
}
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav-links > li {
    float: right;
}
.nav-links > li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.nav-links > li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #db4646;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.nav-links > li a:hover, .nav-links > li a:focus, .nav-links > li a:active {
    color: white;
}
.nav-links > li a:hover:before, .nav-links > li a:focus:before, .nav-links > li a:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
}
.space-grotesk-default {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.title-box {
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-top: 100px;
}
.title-box > h1 {
    text-align: center;
    border-bottom: 3px solid var(--dark-accent);
}
.social-box {
    justify-content: space-between;
    display: flex;
}
.social-box > a {
    padding-left: 10px;
}
.project-box {
    margin: 5%;
    border-bottom: 3px solid var(--dark-accent);
    display: flex;
}
#project-box-image {
    border-right: 3px solid var(--dark-accent);
    margin-right: 5px;
}

.course-list {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); 
    gap: 10px;
}