{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
<div>
    <!-- TODO New Picture -->
    <p>
        My name is Colin Werth, and I’m a recent graduate of Portland State University (Class of 2025). I’m currently based in Los Angeles county and actively seeking opportunities to contribute to innovative software development teams.
        <br><br>
        During my time at PSU, I volunteered with the Computer Action Team (CAT), a student-led IT organization supporting campus infrastructure while hosting industry-led tech talks. In addition to my volunteering, I was involved in extracurricular groups like the Web Development Team and the Volunteer Management Team.
        <br><br>
        Outside of coding, I enjoy video games, running, and exploring the intersection of tech, sports, music, and film. I take pride in being a lifelong learner—whether, and being open to new experinces and hobbies.
        <br><br>
        One of my proudest accomplishments is becoming a Division I cross-country and track athlete. I started as one of the slowest runners on my high school team, but through persistence and discipline, I rose to compete at the collegiate level.
        <br><br>
        I'm excited to begin the next chapter of my career and bring my passion, curiosity, and determination to the software industry.
    </p>
</div>
<h2>
    Education
</h2>
    <div>
        <h3>
            Bachlor of Science - Portland State University - Graduated 2025
        </h3>
        <h4>
            Relavant courses
        </h4>
        <ul class="course-list">
            <li>Data Structures</li>
            <li>Full Stack Web Development</li>
            <li>Data Structures</li>
            <li>Programming Systems</li>
            <li>Discrete Structures I</li>
            <li>Computer Systems Programming</li>
            <li>Discrete Structures II</li>
            <li>Software Engineering</li>
            <li>Algorithms & Complexity</li>
            <li>Operating Systems</li>
            <li>Principles of Programming Languages</li>
            <li>Database Management Systems</li>
            <li>Social, Ethical, and Legal Implications of Computing</li>
            <li>Internetworking Protocols</li>
            <li>Web Development</li>
            <li>Data Clustering</li>
            <li>Computer Vision & Deep Learning</li>
            <li>Voice Assistants</li>
            <li>Introduction to Privacy-Aware Computing</li>
        </ul>
    </div>
<section>
    <h2>
        Experince
    </h2>
    <h3>Computer Action Team (CAT), Portland State University — Desk Operation Group</h3>
    <p><strong>Portland, OR</strong> | <em>Volunteer</em> | <time datetime="2019-10">Oct 2019</time> - <time datetime="2020-12">Dec 2020</time></p>
    <ul>
        <li>Resolved technical issues for 2000+ faculty, staff, and students at the College of Engineering and Computer Science. Developed strong verbal, written, and technical communication skills.</li>
        <li>Attended weekly lectures given by leading industry professionals covering topics such as scripting, operating systems, and internet protocols.</li>
        <li>Served on the HISS team, a top-volunteer group that led and trained new volunteers, created documentation, and diagnosed and resolved complex technical issues through analytical reasoning and methodical troubleshooting.</li>
        <li>Collaborated on production-level web applications, incorporated user and peer feedback, optimized documentation workflows, and engaged in structured code reviews to maintain code quality.</li>
    </ul>
</section>
<div>
    <h2>
        Projects
    </h2>
    <div class="w3-content">
    {% for page in section.pages %}
        {% for asset in page.assets -%}
        {%- if asset is matching("[.](jpg|png)$") -%}
        {% set image = resize_image(path=asset, width=240, height=180) %}
        <div class="project-box mySlides">
            <a href="{{ get_url(path=asset) }}" target="_blank">
                <img  id="project-box-image" src="{{ image.url }}" />
            </a>
            {%- endif %}
            {%- endfor %}
            <div >
                <a  href="{{ page.permalink }}">
                    <h3>{{ page.title }}</h3>
                </a>
                <p>
                    {{ page.extra.desc}}
                </p>
            </div>
        </div>
        {% endfor %}
        
    </div>
    <!-- TODO make buttons better -->
    <div>
        <div>
            <button class="project-button" onclick="plusDivs(-1)">❮ Prev</button>
            <button class="project-button" onclick="plusDivs(1)" style="float: right;">Next ❯</button>
        </div>
    </div>
</div>

<script>
var slideIndex = 1;
    showDivs(slideIndex);

function plusDivs(n) {
    showDivs(slideIndex += n);
}

function currentDiv(n) {
    showDivs(slideIndex = n);
}

function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > x.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
    }  
    x[slideIndex-1].style.display = "flex";  
}
</script>



{% endblock content %}