{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
<div>
    <h2>Skills</h2> 
        <ul class="course-list">
            <li>C</li>
            <li>C++</li>
            <li>React</li>
            <li>JS</li>
            <li>Javascript</li>
            <li>Communication</li>
            <li>Git</li>
            <li>Debugging</li>
            <li>Critcal thinkging</li>
            <li>Problem solving</li>
            <li>Communicating technical ideas to both technical and non-technical audiences</li>
            <li>Databases</li>
            <li>SQL</li>
        </ul>
</div>
<h2>
    Education
</h2>
    <div>
        <h3>
            Bachelor of Science - Portland State University - Graduated 2025
        </h3>
        <h4>
            Relevant courses
        </h4>
        <ul class="course-list">
            <li>Data Structures</li>
            <li>Full Stack Web Development</li>
            <li>Data Structures</li>
            <li>Programming Systems</li>
            <li>Discrete Structures I</li>
            <li>Computer Systems Programming</li>
            <li>Discrete Structures II</li>
            <li>Software Engineering</li>
            <li>Algorithms & Complexity</li>
            <li>Operating Systems</li>
            <li>Principles of Programming Languages</li>
            <li>Database Management Systems</li>
            <li>Social, Ethical, and Legal Implications of Computing</li>
            <li>Internetworking Protocols</li>
            <li>Web Development</li>
            <li>Data Clustering</li>
            <li>Computer Vision & Deep Learning</li>
            <li>Voice Assistants</li>
            <li>Introduction to Privacy-Aware Computing</li>
        </ul>
    </div>
<section>
    <h2>
        Experince
    </h2>
    <h3>Computer Action Team (CAT), Portland State University — Desk Operation Group</h3>
    <p><strong>Portland, OR</strong> | <em>Volunteer</em> | <time datetime="2019-10">Oct 2019</time> - <time datetime="2020-12">Dec 2020</time></p>
    <ul>
        <li>Resolved technical issues for 2000+ faculty, staff, and students at the College of Engineering and Computer Science. Developed strong verbal, written, and technical communication skills.</li>
        <li>Attended weekly lectures given by leading industry professionals covering topics such as scripting, operating systems, and internet protocols.</li>
        <li>Served on the HISS team, a top-volunteer group that led and trained new volunteers, created documentation, and diagnosed and resolved complex technical issues through analytical reasoning and methodical troubleshooting.</li>
        <li>Collaborated on production-level web applications, incorporated user and peer feedback, optimized documentation workflows, and engaged in structured code reviews to maintain code quality.</li>
    </ul>
</section>
<div>
    <h2>
        Projects
    </h2>
    <div class="w3-content">
    {% for page in section.pages %}
        {% for asset in page.assets -%}
        {%- if asset is matching("[.](jpg|png)$") -%}
        {% set image = resize_image(path=asset, width=240, height=180) %}
        <div class="project-box mySlides">
            <a href="{{ get_url(path=asset) }}" target="_blank">
                <img  id="project-box-image" src="{{ image.url }}" />
            </a>
            {%- endif %}
            {%- endfor %}
            <div >
                <a  href="{{ page.permalink }}">
                    <h3>{{ page.title }}</h3>
                </a>
                <p>
                    {{ page.extra.desc}}
                </p>
            </div>
        </div>
        {% endfor %}
        
    </div>
    <!-- TODO make buttons better -->
    <div>
        <div>
            <button class="project-button" onclick="plusDivs(-1)">❮ Prev</button>
            <button class="project-button" onclick="plusDivs(1)" style="float: right;">Next ❯</button>
        </div>
    </div>
</div>

<script>
var slideIndex = 1;
    showDivs(slideIndex);

function plusDivs(n) {
    showDivs(slideIndex += n);
}

function currentDiv(n) {
    showDivs(slideIndex = n);
}

function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > x.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
    }  
    x[slideIndex-1].style.display = "flex";  
}
</script>



{% endblock content %}