{% extends "base.html" %}

{% block content %}
<div class="title-box">
    <div style="width: 35rem;">
        <h1>
            Collin Werth
        </h1>
        <!-- TODO change box -->
        <!-- TODO make about page -->
        <div class="social-box">
            <p>
                My name is Colin Werth, and I’m a recent graduate of Portland State University (Class of 2025). I’m currently based in Los Angeles county and actively seeking opportunities to contribute to innovative software development teams.
                <br><br>
                During my time at PSU, I volunteered with the Computer Action Team (CAT), a student-led IT organization supporting campus infrastructure while. In addition to my volunteering, I was involved in extracurricular groups like the Web Development Team and the Volunteer Management Team.
                <br><br>
                Outside of coding, I enjoy video games, running, and exploring the intersection of tech, sports, music, and film. I take pride in being a lifelong learner, and being open to new experinces and hobbies. I am attepting to write a blog called "The itch of the Month" where i  write about my current hobbie i am fixating on.
                <br><br>
                One of my proudest accomplishments is becoming a Division I cross-country and track athlete. I started as one of the slowest runners on my high school team, but through persistence and discipline, I rose to compete at the collegiate level.
                <br><br>
                I'm excited to begin the next chapter of my career and bring my passion, curiosity, and determination to the software industry.
            </p>
        </div>
    </div>
    <div>
        {% set image = resize_image(path="/images/IMG_2463.jpg", width=300, height=300, op="fill") %}
        <img class="project-shadow" src="{{ image.url }}" alt="Picture of me"/>
    </div>
</div>
{% endblock content %}