{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {{ section.title }}
</h1>
<div class="w3-content">
    <div class="project-grid">
        {% for page in section.pages %}
        <div class="project-shadow">
            <div class="project-box">
                {% for asset in page.assets -%}
                    {%- if asset is matching("[.](jpg|png)$") -%}
                    {% set image = resize_image(path=asset, width=240, height=180) %}
                    <a href="{{ get_url(path=asset) }}" target="_blank">
                        <img id="project-box-image" src="{{ image.url }}" />
                    </a>
                    {%- endif %}
                {%- endfor %}
                <div>
                    <a href="{{ page.permalink }}">
                        <h3>{{ page.title }}</h3>
                    </a>
                    <p>{{ page.extra.desc }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}